.winButton{
  -fx-background-color : transparent;
  -fx-border-color : transparent;
  -fx-background-insets : 0;
  -fx-padding : 0;
}

.winButton:hover{
  -fx-scale-x : 1.1;
  -fx-scale-y : 1.1;
  -fx-effect : dropshadow(gaussian, #ffffff, 10, 0.2, 0, 0);
}